<section class="new-training" fxLayout fxLayoutAlign="center">
    <mat-card fxFlex.xs="100%" fxFlex="500px">
        <mat-card-title fxLayoutAlign="center">Time To Work ON!</mat-card-title>
        <mat-card-content fxLayoutAlign="center">
            <mat-form-field>
                <mat-select placeholder="Training Types">
                    <mat-option value="nose">NOSE</mat-option>
                    <mat-option value="face">FACE</mat-option>
                    <mat-option value="ear">EAR</mat-option>
                    <mat-option value="leg">LEG</mat-option>
                </mat-select>
            </mat-form-field>
        </mat-card-content>
        <mat-card-actions fxLayoutAlign="center">
            <button type="submit" mat-button (click)="onStartTraining()">START</button>
        </mat-card-actions>
    </mat-card>
</section>