<div class="welcome" fxLayout="column" fxLayout.gt-md="row" fxLayoutGap.gt-md="5px" fxLayoutAlign="center center">
    <section>
        <h1>Al-Fajar</h1>
        <p>Morning we need to pray before the Sun rises</p>
    </section>
    <section>
        <h1>Al-Luhar</h1>
        <p>In between the 12 - 1 of the day</p>
    </section>
    <section>
        <h1>Al-Asar</h1>
        <p>The Prayer will be after luhar</p>
    </section>
    <section>
        <h1>Al-Maghrib</h1>
        <p>The Prayer will be after Asar</p>
    </section>
    <section>
        <h1>Al-Isha</h1>
        <p>The Prayer will be after Maghrib</p>
    </section>
</div>